<p>job-posting-list works!</p>

<br>
  <!-- [routerLink]="['.',1]" -->
  <a class="btn btn-primary" [routerLink]= "['./add', 1]">Add new </a>

<ng-container *ngIf="jobPostings$ | async as jobPosts">
    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th>Title</th>
          <th>Short Description</th>
          <th>Is Visible?</th>
          <th>Categories</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jobPost of jobPosts">
          <td>{{jobPost.title}}</td>
          <td>{{jobPost.shortDescription}}</td>
          <td>{{jobPost.isVisible}}</td>
          <td>
              <span *ngFor="let category of jobPost.jobCategories">
              <span class="badge bg-secondary me-2">{{category.name}}</span>
              </span> 
          </td>
          <td>
            <a class="btn btn-primary" [routerLink]= "['./',jobPost.id]">Edit</a>/
            <a class="btn btn-primary" [routerLink]= "['./view',jobPost.id]">view</a>            
          </td>
        </tr>
      </tbody>
    </table>


  </ng-container>